<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>License Watcher</title>
    <link rel="icon" href="../static/pic/watcher.png" type="image/x-icon">
    <link rel="shortcut icon" href="../static/pic/watcher.png" type="image/x-icon">
    <script src="../static/js/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.css">
    <script src="../static/semantic/dist/semantic.js"></script>
    <script src="../static/js/jquery.validate.js"></script>
    <script src="../static/js/apexchart.js"></script>
    <style type="text/css">
        #main_content {
            min-height: calc(100vh - 1em);
            padding: 5px;
        }

        #footer {
            height: 2em;
        }
    </style>
</head>




<body id='main'>
    <div>

        <div class="ui menu black inverted">
            <div class="ui container">
                <a href="/" class="item header">License Watcher v0.1</a>
                <a href="/" class="item active"><i class="home icon"></i>Home</a>
                <a href="/historical_data" class="item">Historical data</a>
                <a href="/function2" class="item">function 2</a>
                <a href="/watchedlist" class="item">lic srv lists</a>
            </div>
        </div>

        <div id='main_content'>
            {% block content %}
            {% endblock %}
        </div>

        <div id='footer'>
            <div class="ui inverted footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="four wide column">
                            <br>
                            <h4 class="ui inverted header">Contact:</h4>
                            <p>Raymond Ding</p>
                        </div>
                        <div class="four wide column">
                            <br>
                            <h4 class="ui inverted header">Phone:</h4>
                            <p> +86-131-3817-9262</p>

                        </div>
                        <div class="eight wide column">
                            <br>
                            <h4 class="ui inverted header">Email: </h4>
                            <address><a href="mailto:dingxingyuan@goodix.com">dingxingyuan@goodix.com</a></address>
                            <address><a href="mailto:xingyuan.ding@gmail.com">xingyuan.ding@gmail.com</a></address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>