<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.css">
    <script src="../static/semantic/dist/semantic.js"></script>
</head>

<body>
    <div class="ui block icon header tiny">
        <i class="setting icon"></i>
        <div class="content">Watcher Settings</div>
    </div>
</body>

</html>