{% extends 'base.html' %}

{% block content %}

<body>

    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="two wide column">
            <div class="ui vertical basic segment">
                <div class="inline basic fields" id="table_srv_info">
                    <label>Lic Servers:</label>
                </div>
            </div>
        </div>
        <div class="ten wide column">
            <h5>Current Usage:</h5>
            <div class="ui table celled selectable" id="current_feature_status"></div>
        </div>
        <div class="three wide column"></div>
    </div>

</body>

<script>
    // generate page
    $(document).ready(
        function () {
            Srv_info_checkbox_generator();
            current_status_table;
        }
    );

    // generate 
    function Srv_info_checkbox_generator() {
        $.getJSON('/get_server_info', function (data) {
            var items_1 = []; // bottom side table srv filter
            $.each(data, function (index, value) {
                items_1.push("<div class='ui radio checkbox'><input type='radio' name='current_usage' value='" + value['portnumber'] + '@' + value['server'] + "'><label>" + value['portnumber'] + '@' + value['server'] + "</label></div>")
            })

            // generate bottom table filter servers checkbox
            items_1.forEach(function (element) {
                $("#table_srv_info").append("<div class='filed'>" + element + "</div>")
            });
            $("#table_srv_info input").first().attr({ checked: "checked" });
        }).done(function () {
            let applied_data = {
                srvs: $("#table_srv_info input[name='current_usage']:checked").val()
            };
            $.ajax({
                type: "POST",
                url: "/get_current_feature_status",
                data: JSON.stringify(applied_data),
                success: function (data) {
                    data = JSON.parse(data);
                    $("#current_feature_status").empty();
                    var items = [];
                    $("#current_feature_status").append("<thead><tr><th>Index</th><th>Feature</th><th>User</th><th>client</th><th>ip</th><th>start time</th><th>license number checked</th></thead>");
                    $("#current_feature_status").append("<tbody><meta charset = 'uft-8>'");
                    $.each(data, function (index, value) {
                        items.push("<tr><td>" + index + "</td>"
                            + "<td>" + value["feature"] + "</td>"
                            + "<td>" + value["current_username"] + "</td>"
                            + "<td>" + value["current_client"] + "</td>"
                            + "<td>" + value["current_ip_addr"] + "</td>"
                            + "<td>" + value["start_date"] + "&nbsp;" + value["start_time"] + "</td>"
                            + "<td>" + value["current_lic_checkedout"] + "</td></tr>"
                        );
                    });
                    items.forEach(function (element) {
                        $("#current_feature_status").append(element)

                    });
                    $("#current_feature_status").append("</tbody>")
                },
                contentType: "application/json",
                dataType: "text"

            });
        })
    };

    // 生成所选服务器此时的使用情况
    function current_status_table() {
        let applied_data = {
            srvs: current_usage_checked_val()
        };
        $.ajax({
            type: "POST",
            url: "/get_current_feature_status",
            data: JSON.stringify(applied_data),
            success: function (data) {
                data = JSON.parse(data);
                $("#current_feature_status").empty();
                var items = [];
                $("#current_feature_status").append("<thead><tr><th>Number</th><th><Feature></th><th>User</th><th>client</th><th>ip</th><th>start time</th><th>lic num checked out</th></thead>");
                $("#current_feature_status").append("<tbody><meta charset = 'uft-8>'");
                $.each(data, function (index, value) {
                    items.push("<tr><td>" + index + 1 + "</td>"
                        + "<td>" + value["feature"] + "</td>"
                        + "<td>" + value["current_username"] + "</td>"
                        + "<td>" + value["current_client"] + "</td>"
                        + "<td>" + value["current_ip_addr"] + "</td>"
                        + "<td>" + value["start_date"] + "&nbsp;" + value["start_time"] + "</td>"
                        + "<td>" + value["current_lic_checkedout"] + "</td>"
                    );
                });
                items.forEach(function (element) {
                    $("#current_feature_status").append(elment)
                });
                $("#current_feature_status").append("</tbody>")
            },
            contentType: "application/json",
            dataType: "text"
        });
    };

    // based on left side checkbox to generate the license usage of that lic server
    $("#table_srv_info")
        .on('click', function () {
            let applied_data = {
                srvs: $("#table_srv_info input[name='current_usage']:checked").val()
            };
            $.ajax({
                type: "POST",
                url: "/get_current_feature_status",
                data: JSON.stringify(applied_data),
                success: function (data) {
                    data = JSON.parse(data);
                    $("#current_feature_status").empty();
                    var items = [];
                    $("#current_feature_status").append("<thead><tr><th>Index</th><th>Feature</th><th>User</th><th>client</th><th>ip</th><th>start time</th><th>license number checked</th></thead>");
                    $("#current_feature_status").append("<tbody><meta charset = 'uft-8>'");
                    $.each(data, function (index, value) {
                        items.push("<tr><td>" + index + "</td>"
                            + "<td>" + value["feature"] + "</td>"
                            + "<td>" + value["current_username"] + "</td>"
                            + "<td>" + value["current_client"] + "</td>"
                            + "<td>" + value["current_ip_addr"] + "</td>"
                            + "<td>" + value["start_date"] + "&nbsp;" + value["start_time"] + "</td>"
                            + "<td>" + value["current_lic_checkedout"] + "</td></tr>"
                        );
                    });
                    items.forEach(function (element) {
                        $("#current_feature_status").append(element)

                    });
                    $("#current_feature_status").append("</tbody>")
                },
                contentType: "application/json",
                dataType: "text"
            });
        });
</script>
{% endblock %}