{% extends 'base.html' %}

{% block content %}
<div class="ui form" id='srv_info'>
    <div id="features" class="ui grid"></div>
    <div id="servers" class="ui grid"></div>
</div>


<div class="ui checked checkbox"><input type="checkbox" name="5280@SZ-glblic01" value="5280@SZ-glblic01" checked="">
    <label>5280@SZ-glblic01</label>
</div>

<div class="ui checked checkbox">
    <input type="checkbox" checked="">
    <label>Active</label>
</div>

<script type="application/javascript">

    var srv_port_list = [];
    function Srv_info_checkbox_generator() {
        $.getJSON('/get_server_info', function (data) {
            var items = [];
            $.each(data, function (index, value) {
                items.push("<div class='column'><div class='ui checkbox'><input type='checkbox' name='" + value['portnumber'] + '@' + value['server']
                    + "' value='" + value['portnumber'] + '@' + value['server'] + "'><label>" + value['portnumber'] + '@' + value['server'] + "</label></div></div>");
                srv_port_list.push(value["server"] + '@' + value["portnumber"]);
            });
            items.forEach(function (element) {
                $('#servers').append(element)
            });

        }).done(function () {
            $.ajax({
                type: "POST",
                url: '/srv_features_info',
                data: JSON.stringify({
                    "servers": srv_port_list
                }),
                success: function (data) {
                    console.log(data);
                    Srv_features_info_checkbox_generator(data);
                },
                contentType: "application/json",
                dataType: "text"
            });
        })
            ;
    };

    // function Srv_feature_info_checkbox_generator(){
    //     $.
    // };

    //js 列表去重，用来生成feature
    function unique_array(arr) {
        return Array.from(new Set(arr))
    }


    //根据返回值，去重并生成features 的checkbox 
    function Srv_features_info_checkbox_generator(data) {
        let features = []
        data = JSON.parse(data);
        data.forEach(function (element) {
            features = features.concat(element.features);
        })
        features = unique_array(features)
        features.forEach(function (element) {
            $('#features').append("<div class='three wide column'><div class='ui checkbox'><input type='checkbox' name='" + element + "' value='" + element + "'><label>" + element + "</label></div>")
        })
    }

    $(document).ready(function () {
        Srv_info_checkbox_generator();
    });
</script>

{% endblock %}